#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #fbff02aa);
  }
  .logo.citu:hover {
    filter: drop-shadow(0 0 2em #f72500aa);
  }

  .button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    outline: none; 
    transition: filter 0.3s ease, transform 0.3s ease; 
  }
  .button:hover {
    filter: drop-shadow(0 0 2em #999999aa);
    transform: scale(1.05);
  }
  .button:focus {
    outline: none;
  }

  @keyframes shakeWiggle {
    0% { transform: rotate(0deg); }
    2.5% { transform: rotate(2.5deg); }
    5% { transform: rotate(-2.5deg); }
    7.5% { transform: rotate(2.5deg); }
    10% { transform: rotate(-2.5deg); }
    12.5% { transform: rotate(2.5deg); }
    15% { transform: rotate(-2.5deg); }
    17.5% { transform: rotate(2.5deg); }
    20% { transform: rotate(-2.5deg); }
    25% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); } /* Hold at the final position */
  }
  
  .logo {
    animation: shakeWiggle 10s ease-in-out infinite; /* Total duration including pause */
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  